.modal-body {
  form {
    width: 90%;
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.validation-message {
  color: red;
  font-size: small;
  margin-top: .3rem;
}

label.required:after {
  content:" *";
  color: $primary;
  text-wrap: nowrap;
}

// ngx-chips => tag-input component
div.ng2-tag-input--focused {
  border-color: $primary !important;
}
