.modal-body {
  form {
    width: 90%;
  }
}

input, textarea, select {
  &:has(+.validation-message) {
    border-color: red;
  }
}

.validation-message {
  color: red;
  font-size: small;
  margin-top: .3rem;
}

label.required:after {
  content:" *";
  color: $primary;
  text-wrap: nowrap;
}
