.hide-routing-agenda {
  // Routing agenda hiding
  div.leaflet-routing-container.leaflet-bar.leaflet-control {
    display: none !important;
  }
}

.leaflet-routing-alternatives-container {
  max-height: 360px !important;
  overflow-y: auto !important;
}
