<div class="overview">
  <div class="data-container my-4">
    <ng-container *ngIf="!loading; else loadingTmpl">
      <ng-container *ngFor="let item of items; let i = index">
        <ng-container *ngTemplateOutlet="itemTemplate; context: getItemContext(item)"></ng-container>
      </ng-container>
      <!-- Empty table -->
      <ng-container *ngIf="!items.length">
        <span class="text-secondary f-3x mb-2">Not found {{ Emoji.sad | emoji }}</span>
      </ng-container>
    </ng-container>
  </div>

  <div class="pagination-btn d-flex justify-content-center">
    <button class="btn btn-outline-primary me-5" (click)="changePage('prev')"><</button>
    <fa-icon *ngIf="refreshCallback" class="cursor-pointer text-primary f-2x" [icon]="faRefresh" (click)="refresh()"></fa-icon>
    <button class="btn btn-outline-primary ms-5" (click)="changePage('next')">></button>
  </div>
</div>

<ng-template #loadingTmpl>
  <app-loading></app-loading>
</ng-template>
