<div class="modal-header d-flex align-items-center justify-content-center">
  <div class="modal-title d-flex align-items-center flex-row">
    <h5 class="mb-0 me-1">Where do you want to go?</h5>
    <span class="f-2x">{{ Emoji.eyes | emoji }}</span>
  </div>
</div>
<div class="modal-body d-flex">
  <a *ngFor="let tile of routeTiles" class="tile d-flex flex-column justify-content-center align-items-center rounded cursor-pointer mx-4 py-2"
     [routerLink]="[tile.route]" (click)="activeModal.close()">
    <img class="tile-icon px-4 pb-2" width="150px" src="{{ 'assets/img/' + tile.filename + '.svg' }}" alt="{{ tile.filename }} icon">
    <span class="text-black">{{ tile.label }}</span>
  </a>
</div>
