<ng-container *ngIf="!options; else mapTemplate">
  <app-loading></app-loading>
</ng-container>

<ng-template #mapTemplate>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <span class="text-secondary mb-1">
      <strong>{{ distance | number: '1.0-2' }}km</strong> away from you
    </span>
    <div style="height: 400px; width: 85vw"
         [class.hide-routing-agenda]="hideRoutingAgenda"
         leaflet
         [leafletOptions]="options"
         (leafletMapReady)="onMapReady($event)">
    </div>
    <div class="d-flex">
      <button class="btn btn-outline-primary mt-3 me-2" (click)="zoomMe()">
        Zoom Me
      </button>
      <button class="btn btn-outline-primary mt-3 me-2" (click)="hideRoutingAgenda = !hideRoutingAgenda">
        {{ hideRoutingAgenda ? 'Show' : 'Hide' }} agenda
      </button>
      <button class="btn btn-outline-primary mt-3" (click)="zoomDestination()">
        Zoom destination
      </button>
    </div>
  </div>
</ng-template>
