@import "src/app/styles/variables";

.topbar-body {
  background-color: white;
  width: 100vw;

  .user-btn {
    background-color: $background-content;
    border: 2px solid lightgray;

    .user-primary-info {
      font-size: .9rem;
    }

    .user-secondary-info {
      font-size: .6rem;
      color: gray;
    }
  }
}
