@import 'src/app/styles/variables';

.overview-title {
  font-weight: 300;
  font-size: 3rem;
}

.overview-item {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 12px 0;
  position: relative;
  background-color: white;
  border-radius: 1rem;

  width: 250px;
  min-width: 250px;
  height: 350px;
  min-height: 350px;
  max-height: 350px;

  .item-header {
    .rating {
      height: 2.2rem;
      border: 2px solid $primary;
      color: $primary;
      font-weight: bold;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 1.3rem;
      }
    }
  }

  .item-content {
    text-wrap: wrap;
  }

  .item-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    .view-btn {
      border-radius: 3rem;
      font-size: .8rem;
    }
  }
}
