<div class="overview-header d-flex">
  <span class="f-3x">Places</span>

  <div class="d-flex">
    <select name="searchType" id="searchType">
      <option value="volvo">Name</option>
      <option value="saab">Place</option>
      <option value="mercedes">Tag</option>
    </select>
    <input placeholder="Search by (dropdown: name, place, tag)">
  </div>
</div>

<app-data-overview [itemTemplate]="dataItem" [refreshCallback]="refresh.bind(this)"></app-data-overview>

<button class="btn btn-primary btn-create" (click)="createPlace()">+</button>

<ng-template #dataItem let-item>
  <div class="overview-item d-flex flex-column px-3">
    <div class="item-header d-flex justify-content-between pt-3">
      <fa-icon class="cursor-pointer text-primary f-2x" [icon]="faEdit" (click)="updatePlace(item.id)"></fa-icon>
      <div class="rating px-2">
        {{ item.averageRating | number: '0.1' }}
        <span class="ms-1">{{ Emoji.star | emoji }}</span>
      </div>
      <fa-icon class="cursor-pointer text-secondary f-2x" [icon]="faRemove" (click)="deletePlace(item.id)"></fa-icon>
    </div>

    <div class="item-content d-flex flex-column text-truncate text-center fw-bold my-5">
      <span class="text-secondary f-2x mb-1">{{ item.name }}</span>
      <span class="text-secondary">{{ item.address.address.city }}, {{ item.address.address.road }} {{ item.address.address.house_number }}</span>
    </div>

    <div class="item-footer text-center pb-3">
      <div class="d-flex justify-content-between align-items-center mb-2 px-2">
        <div class="d-block w-25">
          <div class="fw-bold text-primary">23</div>
          <span class="small text-secondary">Dishes</span>
        </div>
        <div class="d-block w-auto">
          <div class="fw-bold text-primary">{{ getItemDistance(item) | number: '1.0-2' }} km</div>
          <span class="small text-secondary">Distance</span>
        </div>
        <div class="d-block w-25">
          <div class="d-flex justify-content-center fw-bold text-primary">
            {{ 4.3 | number: '0.1' }}
            <span>{{ Emoji.star | emoji }}</span>
          </div>
          <span class="small text-secondary">Food</span>
        </div>
      </div>
      <button class="btn btn-primary view-btn" (click)="goToDetails(item)">View details</button>
    </div>
  </div>
</ng-template>
