<div class="modal-header d-flex align-items-center justify-content-center">
  <div class="modal-title d-flex align-items-center flex-row">
    <h5 class="mb-0 me-1">
      <ng-container *ngIf="!placeId">Add a new place!</ng-container>
      <ng-container *ngIf="placeId">Edit this place!</ng-container>
    </h5>
    <span class="f-2x">{{ Emoji.run | emoji }}</span>
  </div>
</div>
<div class="modal-body d-flex justify-content-center">
  <app-loading *ngIf="!form"></app-loading>
  <form *ngIf="form" [formGroup]="form">

    <ng-container *ngIf="!placeId">
      <div class="mb-3 row align-items-center">
        <div class="col-sm-12">
          <input type="text" formControlName="address" class="form-control" id="address" placeholder="Search place..." autocomplete="off">
          <div *ngIf="isValidField('address')" class="validation-message">
            Please choose a place.
          </div>
        </div>
      </div>
    </ng-container>

    <div class="mb-3 row align-items-center">
      <label for="name" class="col-sm-2 col-form-label required">Name</label>
      <div class="col-sm-10">
        <input type="text" formControlName="name" class="form-control" id="name">
        <div *ngIf="isValidField('name')" class="validation-message">
          Please provide a place name.
        </div>
      </div>
    </div>

    <div class="mb-3 row align-items-center">
      <label for="type" class="col-sm-2 col-form-label required">Type</label>
      <div class="col-sm-10">
        <select formControlName="type" class="form-select" id="type">
          <option *ngFor="let placeType of placeTypes" [value]="placeType.id">
            {{ placeType.name }}
          </option>
        </select>
        <div *ngIf="isValidField('type')" class="validation-message">
          Please choose a place type.
        </div>
      </div>
    </div>

    <div class="divider">Rating</div>

    <div formGroupName="rating">
      <div class="mb-3 row align-items-center">
        <label for="localization" class="col-sm-2 col-form-label">Localization</label>
        <div class="col-sm-10 d-flex justify-content-center">
          <input type="hidden" formControlName="localization" id="localization" class="form-control">
          <ngx-stars color="#816ddb" [size]="2" [maxStars]="5" [initialStars]="getFieldValue('rating.localization')"
                     (ratingOutput)="setStarValue('rating.localization', $event)">
          </ngx-stars>
        </div>
      </div>
      <div class="mb-3 row align-items-center">
        <label for="staff" class="col-sm-2 col-form-label">Staff</label>
        <div class="col-sm-10 d-flex justify-content-center">
          <input type="hidden" formControlName="staff" class="form-control" id="staff">
          <ngx-stars color="#816ddb" [size]="2" [maxStars]="5" [initialStars]="getFieldValue('rating.staff')"
                     (ratingOutput)="setStarValue('rating.staff', $event)">
          </ngx-stars>
        </div>
      </div>
      <div class="mb-3 row align-items-center">
        <label for="comfort" class="col-sm-2 col-form-label">Comfort</label>
        <div class="col-sm-10 d-flex justify-content-center">
          <input type="hidden" formControlName="comfort" class="form-control" id="comfort">
          <ngx-stars color="#816ddb" [size]="2" [maxStars]="5" [initialStars]="getFieldValue('rating.comfort')"
                     (ratingOutput)="setStarValue('rating.comfort', $event)">
          </ngx-stars>
        </div>
      </div>
      <div class="mb-3 row align-items-center">
        <label for="prices" class="col-sm-2 col-form-label">Prices</label>
        <div class="col-sm-10 d-flex justify-content-center">
          <input type="hidden" formControlName="prices" class="form-control" id="prices">
          <ngx-stars color="#816ddb" [size]="2" [maxStars]="5" [initialStars]="getFieldValue('rating.prices')"
                     (ratingOutput)="setStarValue('rating.prices', $event)">
          </ngx-stars>
        </div>
      </div>
      <div class="mb-3 row align-items-center">
        <label for="cleanliness" class="col-sm-2 col-form-label">Cleanliness</label>
        <div class="col-sm-10 d-flex justify-content-center">
          <input type="hidden" formControlName="cleanliness" class="form-control" id="cleanliness">
          <ngx-stars color="#816ddb" [size]="2" [maxStars]="5" [initialStars]="getFieldValue('rating.cleanliness')"
                     (ratingOutput)="setStarValue('rating.cleanliness', $event)">
          </ngx-stars>
        </div>
      </div>
    </div>

    <div class="divider">Tags</div>

    <div class="col-sm-12">
      <tag-input formControlName="tags" [modelAsStrings]="true"></tag-input>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" ngbAutofocus (click)="activeModal.close()">Close</button>
  <button type="button" class="btn btn-primary" [disabled]="(form ? !form.valid : true) || loading" (click)="save()">
    <app-loading [small]="true" color="white" *ngIf="loading"></app-loading> Save
  </button>
</div>
