<div class="d-flex flex-column justify-content-center align-items-center my-3">
  <button class="btn btn-outline-secondary mb-5" type="button" (click)="goBack()">Go back</button>
  <app-loading *ngIf="loading"></app-loading>

  <ng-container *ngIf="!loading">

    <h2 class="text-secondary">{{ place.name }}</h2>
    <div class="text-center text-secondary">
      Original type: {{ format(place.address.type) | uppercase }}
    </div>
    <div class="text-center text-secondary mb-2">
      Your types: {{ (place.types || []).join(', ') | uppercase }}
    </div>
    <div class="text-center text-secondary">{{ place.address.display_name }}</div>

    <img *ngIf="place.photoId" class="rounded my-3" [src]="photoURL">

    <div class="divider text-center text-secondary my-3">Map</div>
    <app-leaflet-map [coords]="place.address"></app-leaflet-map>

    <div class="d-flex justify-content-center w-100">
      <div class="d-flex flex-column w-50 me-2">
        <div class="divider text-center text-secondary">
          <ng-container *ngIf="place.tags && place.tags.length > 0">Tags</ng-container>
          <ng-container *ngIf="!place.tags || place.tags?.length === 0">No tags added</ng-container>
        </div>
        <div *ngIf="place.tags && place.tags.length > 0" class="tags d-flex justify-content-center flex-wrap">
          <div class="tag me-3 px-2 py-1 my-1" *ngFor="let tag of place.tags">
            {{ tag }}
          </div>
        </div>
      </div>

      <div class="d-flex flex-column w-50 ms-2">
        <div class="divider text-center text-secondary">
          <ng-container *ngIf="place.address.extratags">Extra tags</ng-container>
          <ng-container *ngIf="!place.address.extratags">No extra tags</ng-container>
        </div>
        <div *ngIf="place.address.extratags">
          <div class="extra text-secondary" *ngFor="let extraTag of getExtras()">
            <strong>{{ extraTag[0] }}:</strong> {{ extraTag[1] }}
          </div>
        </div>
      </div>
    </div>

    <div class="divider text-center text-secondary my-3">Place rating chart</div>
    <highcharts-chart
      class="mb-5 w-100"
      [Highcharts]="Highcharts"
      [options]="ratingOptions"
    ></highcharts-chart>

    <div class="divider text-center text-secondary my-3">Average food rating chart</div>
    <highcharts-chart
      class="mb-5 w-100"
      [Highcharts]="Highcharts"
      [options]="foodRatingOptions"
    ></highcharts-chart>

    <div class="divider text-center text-secondary my-3">Food from this place</div>
    <highcharts-chart
      class="w-100"
      [Highcharts]="Highcharts"
      [options]="foodChartOptions"
    ></highcharts-chart>
    <div class="d-flex flex-column justify-content-center align-items-center fw-bold mb-5 text-secondary">
      <span class="me-2">Dishes: {{ foodOfPlace.length }}</span>
      <span>Total price: {{ getFoodPriceSum() }} zł</span>
    </div>

    <span class="text-secondary"><strong>Created at:</strong> {{ place.createdAt | date: 'MMMM d y, HH:mm:ss (EEEE)' }}</span>
    <span class="text-secondary"><strong>Last update at:</strong> {{ place.changedAt | date: 'MMMM d y, HH:mm:ss (EEEE)' }}</span>
  </ng-container>

  <button class="btn btn-outline-secondary mt-5" type="button" (click)="goBack()">Go back</button>
</div>
