@import "src/app/styles/variables";

.layout-body {
  background: white;
  width: 100vw;
  height: 100vh;
  min-width: 650px;
  overflow-x: hidden;

  .content {
    background-color: $background-content;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    box-shadow: rgba(100, 100, 100) 0 3px 8px;
  }
}
